* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
  overflow-x: hidden
}
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;600&family=Roboto&family=Ubuntu&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
}
.hbar{
  height: 150vh;
}

.side-br{
    background-color: #09174b;
    height: auto;
}
.side-br-logo{
    width: 70%;
}
.white-logo{
    max-width: 60%;
}
.all-percent{
    height: 100vh;
    width: 80%;
}
.bg-chartpool{
    background-color: #2a5297;
}
.side-br{
    font-family:'Baloo Bhai 2', cursive; 
    font-weight: 600;
}
.nav-pills .nav-link.active, .nav-pills .show .nav-link{
background-color:rgba(238, 238, 238, 0.507);
}

.btn-cancel:hover, .btn-c2:hover{
    background-color:#09174b25;
}
.nav-link-hover{
    background-color: #e5e5e5;
}
.next-link{
    border-radius:5px;
    background-color:  #09174b !important;
    box-shadow: 0 2px rgba(0, 0, 0, 0.25);
    color: white;
}
.pg-link{
    color: #09174b;
}
.next-link:hover, .mod-btn1:hover{
    background-color: #09174b1a;
    box-shadow: 0 2px rgba(0, 0, 0, 0.25);
}



.text-underline-hover {
    text-decoration: none;
}
.text-underline-hover:hover {
    text-decoration: none;
}
main #tab_filter input {
    border: 1px solid gray;
    border-radius:  5px;
    padding: 8px;
    width: 220px;
    
    
  }
  .bar{
      height: 475px;
      margin-top: 10px;
      border-radius: 10px;
      
  }
  .font{
      font-size: 11px;
  }
.chat{
    list-style: none;
    margin: 0;
    padding: 0px;
}
.btn-polls{
    background-color: #09174B;
    color: white;
    
}
.page-item.active .page-link {
    background-color: #09174B;
    border-color: #09174B;
}
.mssgbtn{
  margin-left: 79px;
  width: 200px;
  border-radius: 10px;
}
#search{
  border-radius: 10px;
}
 .ask{
 margin-right: 40px;
}

.chat li
{
    margin-bottom: 0;
    padding-bottom: 5px;
    /* border-bottom: 1px dotted #B3A9A9; */
    margin-top: 5px;
    width: 100%;
}

.chat-body{
  width: 1000px;
}
.chat li .chat-body p{
    margin: 0;
    /* color: #777777; */
}


.chat-care1{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 475px;
    border-radius: 20px;
}
.chat-care{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 320px;
   
}
.card-top{
  border-radius: 20px;
  
}

.chat-care .chat-img{
    width: 25px;
    height: 25px;
}
.chat-care .img-circle
{
    border-radius: 50%;
}
.chat-care .chat-img
{
    display: inline-block;
}
.chat-care .chat-body1{
  background-color: #e5e8fa;
}
.chat-care .chat-body2{
  background-color: #ffefcd;
}


.chat-care .chat-body{
    display: inline-block;
    max-width: 100%;
    
    padding: 10px;
    margin-top: 40px;
    border-top-left-radius: 20px;
    border-radius: 20px;
}

.chat-care .admin p
{
    text-align: left ;
}






::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 0;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}



.progress {
    width: 150px;
    height: 150px;
    background: none;
    position: relative;
  }
  .border-warning {
    border-color: #e95758!important;
}
  
  .progress::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid #eee;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  
  .progress .progress-left {
    left: 0;
  }
  
  .progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0;
  }
  
  .progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }
  
  .progress .progress-right {
    right: 0;
  }
  
  .progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
  }
  
  .progress .progress-value {
    position: absolute;
    top: 0;
    left: 0;
  }
  @media (max-width:769px) {
    .side-br{
        display: none !important;
    }
    .all-percent{
        width: 100vw;
    }
    .ask{
       
      margin-right: 90px;  
   }
    
}
  
  @media (max-width:425px) {
    .search{
        flex-direction: column;
        
    }
    
    .ask{
       
       margin-left: 78px;  
    }
    
    
}
  
  